body {
  background-color: #808080;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;	 
  background-size: 100% auto;
}

.peader { 
  padding: 25px;
  text-align: left;
  background: #A9A9A9;
  color: #DC143C;
  font-size: 15px;
  box-shadow: 4px 2px 15px 4px #DC143C;
}